# DATA CLEANING
## Introduction
This notebook focuses on cleaning and standardizing a Chennai real estate dataset as part of the REIS (Real Estate Intelligence System) project. The raw dataset contains duplicate records, inconsistent categorical values, missing values, and low-informative features. The goal of this notebook is to prepare a clean, consistent, and analysis-ready dataset that can be used reliably for exploratory data analysis (EDA),feature engineering, and modeling.

### 1. Import Libraries and Load Dataset

In [76]:
import pandas as pd 
import numpy as np
import json

In [ ]:
data = pd.read_csv("chennai_dataset.csv")

df_raw = data.copy()

### 2. Data Overview

In [78]:
df_raw.head()

,Price,Area,Location,City,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,Chennai,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,Chennai,2,0,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,Chennai,3,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,Chennai,3,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,Chennai,3,0,0,1,1,1,...,0,0,1,0,0,0,0,0,0,0

In [79]:
df_raw.dtypes

Price                   int64
Area                    int64
Location               object
City                   object
No. of Bedrooms         int64
Resale                  int64
MaintenanceStaff        int64
Gymnasium               int64
SwimmingPool            int64
LandscapedGardens       int64
JoggingTrack            int64
RainWaterHarvesting     int64
IndoorGames             int64
ShoppingMall            int64
Intercom                int64
SportsFacility          int64
ATM                     int64
ClubHouse               int64
School                  int64
24X7Security            int64
PowerBackup             int64
CarParking              int64
StaffQuarter            int64
Cafeteria               int64
MultipurposeRoom        int64
Hospital                int64
WashingMachine          int64
Gasconnection           int64
AC                      int64
Wifi                    int64
Children'splayarea      int64
LiftAvailable           int64
BED                     int64
VaastuCompliant         int64
Microwave               int64
GolfCourse              int64
TV                      int64
DiningTable             int64
Sofa                    int64
Wardrobe                int64
Refrigerator            int64
dtype: object

In [80]:
df_raw.shape

(5013, 41)

### 3. Data Type Standardization

In [ ]:
df_raw["Price"] = df_raw["Price"].astype(float)

### 4. Removing Duplicates

In [ ]:
print("No.of Duplicate Rows : ",df_raw.duplicated().sum())

df = df_raw.drop_duplicates()

No.of Duplicate Rows :  707

### 5. Remove Noisy / Less-Informative Columns

In [83]:
df.columns

Index(['Price', 'Area', 'Location', 'City', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [ ]:
less_informative_columns = ['City','MaintenanceStaff','LandscapedGardens','JoggingTrack','IndoorGames',
                            'Intercom', 'ATM', 'ClubHouse','24X7Security','StaffQuarter',
                            'Cafeteria', 'MultipurposeRoom','WashingMachine',
                            'Gasconnection', 'AC', 'Wifi','BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
                            'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator']

df_new = df.drop(columns=less_informative_columns)

In [85]:
df_new.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale', 'Gymnasium',
       'SwimmingPool', 'RainWaterHarvesting', 'ShoppingMall', 'SportsFacility',
       'School', 'PowerBackup', 'CarParking', 'Hospital', 'Children'splayarea',
       'LiftAvailable'],
      dtype='object')

### 6. Column Name Standardization

In [ ]:
df_new.columns = df_new.columns.str.lower()

df_new.columns

Index(['price', 'area', 'location', 'no. of bedrooms', 'resale', 'gymnasium',
       'swimmingpool', 'rainwaterharvesting', 'shoppingmall', 'sportsfacility',
       'school', 'powerbackup', 'carparking', 'hospital', 'children'splayarea',
       'liftavailable'],
      dtype='object')

In [ ]:
df_new.rename(columns={"area":"area_sqft","no. of bedrooms":"no_of_bedrooms","gymnasium":"nearby_gym_1km","school":"nearby_school_1km",
                       "hospital":"nearby_hospital_1km","shoppingmall":"nearby_mall_1km","children'splayarea":"childrens_playarea"},inplace=True)

### 7. Handling Missing Value

In [88]:
df_new.isnull().sum()

price                  0
area_sqft              0
location               0
no_of_bedrooms         0
resale                 0
nearby_gym_1km         0
swimmingpool           0
rainwaterharvesting    0
nearby_mall_1km        0
sportsfacility         0
nearby_school_1km      0
powerbackup            0
carparking             0
nearby_hospital_1km    0
childrens_playarea     0
liftavailable          0
dtype: int64

In [89]:
df_new.describe()

,price,area_sqft,no_of_bedrooms,resale,nearby_gym_1km,swimmingpool,rainwaterharvesting,nearby_mall_1km,sportsfacility,nearby_school_1km,powerbackup,carparking,nearby_hospital_1km,childrens_playarea,liftavailable
count,4.306000e+03,4306.000000,4306.000000,4306.000000,4306.000000,4306.00000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000
mean,8.934592e+06,1250.390153,2.378774,0.099164,5.511379,5.45843,5.419647,5.320483,5.381328,5.328611,5.545286,5.424988,5.320251,5.500000,5.556201
std,1.067200e+07,657.221031,0.714414,0.298917,4.192575,4.25508,4.299872,4.410781,4.343333,4.401879,4.151701,4.293751,4.411035,4.206143,4.138398
min,2.000000e+06,362.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.185250e+06,872.000000,2.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
50%,5.850000e+06,1092.000000,2.000000,0.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
75%,8.923000e+06,1449.500000,3.000000,0.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,1.900000e+08,7240.000000,5.000000,1.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [ ]:
null_values_col = ["nearby_gym_1km","swimmingpool","rainwaterharvesting","nearby_mall_1km",
                   "sportsfacility","nearby_school_1km","powerbackup","carparking",
                   "nearby_hospital_1km","childrens_playarea","liftavailable"]

for col in null_values_col:
    df_new[col] = df_new[col].replace(9,np.nan)
    col_mode = df_new[col].mode()[0]
    df_new[col] = df_new[col].fillna(col_mode)
    df_new[col] = df_new[col].astype(int)

In [91]:
df_new.describe()

,price,area_sqft,no_of_bedrooms,resale,nearby_gym_1km,swimmingpool,rainwaterharvesting,nearby_mall_1km,sportsfacility,nearby_school_1km,powerbackup,carparking,nearby_hospital_1km,childrens_playarea,liftavailable
count,4.306000e+03,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000
mean,8.934592e+06,1250.390153,2.378774,0.099164,0.796098,0.153739,0.114956,0.015792,0.076637,0.023920,0.830005,0.120297,0.015560,0.195309,0.840920
std,1.067200e+07,657.221031,0.714414,0.298917,0.402943,0.360740,0.319006,0.124684,0.266046,0.152818,0.375672,0.325347,0.123779,0.396484,0.365793
min,2.000000e+06,362.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.185250e+06,872.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,5.850000e+06,1092.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,8.923000e+06,1449.500000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1.900000e+08,7240.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### 8. Location Cleaning and Normalization

In [92]:
len(df_new["location"].unique())

184

In [93]:
df_new["location"] = (
    df_new["location"]
        .str.lower()
        .str.strip()
        .str.replace(r"[^a-zA-Z\s]", "", regex=True)  
        .str.replace(r"\s+", " ", regex=True)         
)

In [94]:
sorted(df_new["location"].unique())

['abiramapuram',
 'adambakkam',
 'adhanur',
 'adyar',
 'agaramthen',
 'alandur',
 'alwarpet',
 'ambattur',
 'ambattur industrial estate',
 'aminjikarai',
 'anakaputhur',
 'anna nagar',
 'anna nagar east',
 'annamalai colony',
 'annanagar',
 'annanagar west',
 'arumbakkam',
 'ashok nagar',
 'avadi',
 'ayanambakkam',
 'ayanavaram',
 'ayapakkam',
 'bakthavatchalapuram',
 'besant nagar',
 'chembarambakkam',
 'chengalpattu',
 'chetpet',
 'chikkarayapuram',
 'chitlapakkam',
 'cholambedu',
 'choolaimedu',
 'chromepet',
 'cit nagar',
 'east tambaram',
 'egatoor',
 'egattur',
 'egmore',
 'ekkatuthangal',
 'gerugambakkam',
 'gopalapuram',
 'gowrivakkam',
 'gst road',
 'guduvancheri',
 'guindy',
 'injambakkam',
 'irandankattalai',
 'irumbuliyur',
 'iyappanthangal',
 'iyyappanthangal',
 'jamalia',
 'k k nagar',
 'kanathur reddikuppam',
 'karapakkam',
 'kattankulathur',
 'kattupakkam',
 'keelma nagar',
 'kelambakkam',
 'kil ayanambakkam',
 'kilkattalai',
 'kilpauk',
 'kodambakkam',
 'kolapakkam',
 'kolathur',
 'korattur',
 'kottivakkam',
 'kotturpuram',
 'kovilambakkam',
 'kovur',
 'koyambedu',
 'kumananchavadi',
 'kundrathur',
 'kuthambakkam',
 'madambakkam',
 'madhavaram',
 'madipakkam',
 'maduravoyal',
 'mahindra world city',
 'mambakkam',
 'manali',
 'manapakkam',
 'mangadu',
 'manikandan nagar',
 'mannivakkam',
 'mappedu',
 'maraimalai nagar',
 'medavakkam',
 'mevalurkuppam',
 'mogappair',
 'mogappair east',
 'moolacheri',
 'moolakadai',
 'mudichur',
 'mugalivakkam',
 'mylapore',
 'nandambakkam',
 'nandanam',
 'nanganallur',
 'nanmangalam',
 'navallur',
 'nehrunagar',
 'nenmeli',
 'nungambakkam',
 'omr road',
 'ottiyambakkam',
 'padi',
 'padur',
 'palavakkam',
 'pallavaram',
 'pallikaranai',
 'pallikaranai vgp shanti nagar',
 'pammal',
 'pazavanthangal',
 'peerakankaranai',
 'perambur',
 'periyapanicheri',
 'perumbakkam',
 'perungalathur',
 'perungudi',
 'ponneri',
 'ponniammanmedu',
 'poonamallee',
 'porur',
 'pozhichalur',
 'pudupakkam',
 'purasaiwakkam',
 'purasawalkam',
 'puzhal',
 'raja annamalai puram',
 'rajakilpakkam',
 'ramapuram',
 'ramavaram',
 'royapettah',
 'royapuram',
 'saidapet',
 'selaiyur',
 'sembakkam',
 'semmancheri',
 'serapanacheri',
 'shanthi nagar',
 'shenoy nagar',
 'sholinganallur',
 'singaperumal koil',
 'siruseri',
 'sithalapakkam',
 'sunnambu kolathur s kolathur',
 't nagar',
 'tambaram east',
 'tambaram sanatoruim',
 'tambaram west',
 'teynampet',
 'thaiyur',
 'thalambur',
 'tharapakkam',
 'thatchoor',
 'thirumazhisai',
 'thirumudivakkam',
 'thirumullaivoyal',
 'thiruneermalai',
 'thiruvanmiyur',
 'thiruverkadu',
 'thiruvidandhai',
 'thoraipakkam',
 'thoraipakkam omr',
 'tiruporur near kelambakkam',
 'tiruvottiyur',
 'tnhb',
 'tondiarpet',
 'triplicane',
 'ullagaram',
 'urapakkam',
 'vadapalani',
 'valasaravakkam',
 'vanagaram',
 'vandalur',
 'velachery',
 'velappanchavadi',
 'vellakkal',
 'vengaivasal',
 'vengambakkam',
 'vettuvankani',
 'villivakkam',
 'virugambakkam',
 'west mambalam',
 'west tambaram']

In [ ]:
correct_location_names = {"ambattur industrial estate":"ambattur","annanagar":"anna nagar","annanagar west":"anna nagar west","egatoor":"egattur","iyappanthangal":"iyyappanthangal",
                          "pallikaranai vgp shanti nagar":"pallikaranai","purasawalkam":"purasaiwakkam","sunnambu kolathur s kolathur":"sunnambu kolathur",
                          "thoraipakkam omr":"thoraipakkam","tiruporur near kelambakkam":"tiruporur","west tambaram":"tambaram west"}

In [ ]:
df_new["location"] = df_new["location"].replace(correct_location_names)

df_new = df_new[(df_new["location"] != "tnhb") & (df_new["location"] != "omr road")]

In [97]:
len(sorted(df_new["location"].unique()))

174

In [98]:
ordered_cols = ["location","area_sqft","resale","no_of_bedrooms","nearby_school_1km","nearby_hospital_1km",
                "nearby_mall_1km","nearby_gym_1km","swimmingpool","rainwaterharvesting","sportsfacility",
                "powerbackup","carparking","childrens_playarea","liftavailable","price"]

df_new = df_new[ordered_cols]

df_new.columns

Index(['location', 'area_sqft', 'resale', 'no_of_bedrooms',
       'nearby_school_1km', 'nearby_hospital_1km', 'nearby_mall_1km',
       'nearby_gym_1km', 'swimmingpool', 'rainwaterharvesting',
       'sportsfacility', 'powerbackup', 'carparking', 'childrens_playarea',
       'liftavailable', 'price'],
      dtype='object')

### 8. Export Cleaned Location List

In [99]:
locations = sorted(loc.title() for loc in df_new["location"].unique())

with open("locations.json", "w") as f:
    json.dump(locations, f, indent=2)

### 9. Save Cleaned Dataset

In [100]:
df_new.to_csv("cleaned_chennai_dataset.csv",index=False)

## Summary 
- Removed duplicate records from the raw dataset 
- Dropped low-informative and noisy columns 
- Standardized column names and corrected data types
- Handled placeholder missing values using mode imputation
- Normalized and standardized location names using domain knowledge 
- Removed invalid or non-residential location entries
- Saved the cleaned list of location names as a JSON file for use in the API and UI
- Saved the final cleaned dataset as `cleaned_chennai_data.csv`